body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 95vh;
}
.container {
    background: #eee;
    height: 300px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 500px;
}
h2 {
    color: green;
}
input {
    width: 90%;
    padding: 8px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
}
button {
    background: green;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100px;
}
button:hover {
    background: darkgreen;
}
#result {
    margin-top: 10px;
    font-weight: bold;
}
.nbCOREECT
{
    color: rgb(16, 128, 16);
    font-weight: 400;
}
.nbINCORRECT{
    color: red;
    font-weight: 600;
}